body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.plant-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.plant-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.plant-card h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.plant-card p {
    margin: 10px 0;
    font-size: 1rem;
    color: #666;
}

.plant-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #999;
}

header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    font-size: 1.1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #f0f0f0;
}

/* Banner */

/* Add these styles to your existing CSS */

/* Header */
header {
    background-color: #333;
    padding: 10px 0;
}

.navbar {
    /* ... existing styles ... */
    max-width: 1200px; /* Limit the width of the header */
    margin: 0 auto;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Add space between header and banner */
    max-width: 40rem; /* Limit the width of the banner */
    max-height: 20rem;
    margin-left: auto; /* Center the banner */
    margin-right: auto; /* Center the banner */
    overflow: hidden; /* Ensure child elements stay within the banner */
}

.banner-link {
    text-decoration: none; /* Remove text decoration */
    color: inherit; /* Inherit the text color from parent */
}

.banner img {
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any inline spacing issues */
    margin-top: 10px; /* Add space above the image */
    object-fit: cover; /* Ensure the image covers the container (optional, based on your design) */
}

/* Divider */
.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0; /* Adjust the margin as needed */
    position: relative;
    text-align: center;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 3px dashed grey; /* Adjust the line color */
    margin: 0 10px; /* Adjust the spacing around the text */
}

.divider-text {
    font-size: 2rem; /* Adjust the font size as needed */
    font-family: "Andale Mono", monospace; /* Adjust the font family */
    color: #666666; /* Adjust the text color */
    padding: 0 10px; /* Add padding around the text */

}
/* End Divider */


/* Modal */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-size: 1.5rem;
}

/* Modal Content */
.modal-content {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 80%; /* Width for desktop */
    max-width: 800px; /* Max width for larger screens */
    height: 80%; /* Height for desktop */
    max-height: 600px; /* Max height for larger screens */
    overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Close Button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Modal Columns */
.modal-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%; /* Ensure columns take up full height of modal content */
}

/* Left Modal */
.leftModal {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure it takes up full height */
}

/* Right Modal */
.rightModal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 20px;
    overflow-y: auto; /* Enable scrolling for overflow text */
}

/* Modal Image */
.modal-image {
    max-width: 100%; /* Maintain the image's aspect ratio within the modal */
    height: auto; /* Maintain the image's aspect ratio */
}

/* Modal Title */
.modal-title {
    font-size: 2rem; /* Larger font size for title */
    margin: 10px 0;
}

.modal-alert{
    color:darkcyan;
}

/* Modal Details */
.modal-alert,
.modal-price,
.modal-dimensions,
.modal-sun,
.modal-bloomColor,
.modal-characteristics {
    margin: 5px 0;
    white-space: pre-line; /* This will preserve line breaks from the sheet */
}

/* soil amendment modal */
.soilAmendmentModal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    font-size: 1rem;
}
@media (max-width: 1000px) {
    .soilAmendmentModal {
        display: none; /* Hide the modal by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 999;
        font-size: 1rem;
    }
}
/* END soil amendment modal */


/* Carousel */
.carousel {
    width: 100%;
    position: relative;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
}

.carousel-item img {
    width: 100%;
    height: auto;
}

/* Carousel Overlays */
.carousel-overlay-left,
.carousel-overlay-right {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    cursor: pointer;
    z-index: 1;
}

.carousel-overlay-left {
    left: 0;
}

.carousel-overlay-right {
    right: 0;
}
/* Carousel Arrows */
.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: white;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    pointer-events: none; /* Prevent pointer events so clicks go through to the overlays */
}

.carousel-arrow-left {
    left: 10px;
}

.carousel-arrow-right {
    right: 10px;
}



/* Mobile Styles */
@media (max-width: 1000px) {
    .modal-content {
        width: 97%; /* Adjust width for mobile */
        height: 100%; /* Adjust height for mobile */
        padding: 10px; /* Adjust padding for mobile */
        font-size: 2rem;
        max-width: 1000px;
        max-height: 800px;

    }
    .rightModal {
        padding-right: 2px; /* Adjust padding for mobile */
    }
    .modal-title {
        font-size: 2.5rem; /* Adjust font size for mobile */
    }

}



/* About Section */
.about-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* This will center the content inside the about-section */
}

.about-section img {
    display: block;
    margin: 0 auto; /* This centers the images horizontally */
}

.about-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Cash Policy Section */
.cash-policy {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cash-policy h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.cash-policy p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
}
/* Picture Section */
.picture-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

/* Carousel */
.carousel2 {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust the height as needed */
    overflow: hidden;
}

.carousel-inner2 {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-item2 {
    min-width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
}

.carousel-item2.active {
    opacity: 1;
    position: relative;
}

/* Location Section */
.location-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.location-section h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.location-section p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Map Container */
.map-container {
    position: relative;
    overflow: hidden;
    padding-top: 75%; /* Set the aspect ratio of the map (height / width) */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* contact */
.contact-info {
    max-width: 400px;
    margin: 30px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1rem;
    margin: 5px 0;
}

/* Centering the contact info */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1 {
    text-align: center;
    padding: 20px;
}

/* Location Section */
.contact-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
}

